# Logs
logs
*.log
npm-debug.log*

# Dependencies / build output
node_modules
dist
dist-ssr
*.local

# Firebase
.firebase
firebase-debug.log
firebase-debug.*.log
.runtimeconfig.json

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
.env
.env.*
!.env.example
